---
layout: default
---
{% assign total = 0 %}{% for page in site.pages %}{% if page.layout == 'location' %}
{% assign total = total | plus: 1 %}{% endif %}{% endfor %}

{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<div class="row main-content">
  

  <div class="col-md-12">
    <div id="map-container">
      <div id="map"></div>
    </div>

    <div class="project-details">
      
    </div>









<!-- -->

  </div>
</div>


<div class="project-list">
  {% for page in site.pages %}
  {% if page.layout == 'location' %}

  <div class="col-md-3 project-list-item">

    <h3>{{ page.name }}</h3>
    <img src="{{ page.image }}" />
    <p>{{ page.content }}</p>

  </div>
  {% endif %}
  {% endfor %}

</div>

<script src="{{relative}}map.geojson"></script>
<script src="{{relative}}assets/js/mapping.js"></script>
