<header id="masthead">
  <div class="container">
    <div class="twelve columns">
      <em class="revision">Last updated: Thu November 14th, 2013</em>
      <h1><a href="http://RebuildPH.org" title="RebuildPH"><img src="assets/img/logo_200.png" title="RebuildPH" /></a></h1>
    </div>
  </div>
  <section id="mastnav" class="clearfix">
    <div class="container">
      <div class="six columns">
        <nav>
          <ul>
            <div class="menu-topo-container">
              <ul id="menu-topo" class="menu">
                <li><a href="">Rebuild</a></li>
                <li><a href="">Contribute</a></li>
                <li><a href="">Donate</a></li>
                <li><a href="">About</a></li>
              </ul>
            </div>
          </ul>
        </nav>
      </div>
      <div class="six columns">
        <nav id="langnav">
          <ul>
            <li class="twitter">
              <a href="https://twitter.com/RebuildPH" rel="external" target="_blank"><span>Follow us</span></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
</header>
