<aside id="main-widgets">
  <div class="limiter clearfix">
    <ul class="widgets">
      <li id="text-2" class="widget widget_text">
        <div class="textwidget"><h3>Get the data</h3>
          <p>The data on the site is freely available for use in csv and shapefile formats. All maps are powered by Mapbox. Read about how you can host and retrieve maps using the Mapbox API.<br>
            <a class="button action" href="">Click here</a>
          </p>
        </div>
      </li>
      <li id="categoryfeedswidget-2" class="widget widget_category_feeds">
        <h3>RSS Feeds</h3>
        <ul class="categories">
          <li><a href="" title="RSS Feed" target="_blank">Link 1</a></li>
          <li><a href="" title="RSS Feed" target="_blank">Link 2</a></li>
        </ul>
      </li>
    </ul>
  </div>
</aside>