---
layout: default
---
{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<h3>{{ page.name }}</h3>
<div class="col-md-12">
    <div id="map-container" class="detail">
      <div id="map" class="detail"></div>   
    <div class="project-detail-image" style="background-image:url('{{ page.image }}')"></div>
    </div>

</div>


<div class="project-detail">


  <p>{{ page.content }}</p>
</div>

<script>
  var markerIconActive = L.AwesomeMarkers.icon({
    icon: 'star', 
    color: 'blue'
  });

  var popupContent = '<div class="popHead" class="text-center"><strong>{{ page.address }}</strong></div><div class="metadata"><strong>Host:</strong> {{ page.name }}<br /><strong>Start:</strong> {{ page.start }}</div><div class="text-center"></div>';

  var map = L.map('map', {scrollWheelZoom: false}).setView([ {{ page.latitude }}, {{ page.longitude }} ], 14);

  // hacky solution to move map over to fit point with sidebar in view
  // paddingTopLeft option is only available to the fitBounds() method
  var bounds = map.getBounds([{{page.latitude}}, {{page.longitude}}]);
  map.fitBounds(bounds, {paddingTopLeft: [200, 0]}).setZoom(14);

  L.tileLayer('http://{s}.tiles.mapbox.com/v3/examples.map-vyofok3q/{z}/{x}/{y}.png', {
    maxZoom: 18
  }).addTo(map);

  var marker = L.marker([ {{page.latitude }}, {{ page.longitude }} ], {icon: markerIconActive}).addTo(map);

  var popup = L.popup({closeButton: false, keepInView: true, closeOnClick: false}).setLatLng([{{page.latitude}},{{page.longitude}}]).setContent(popupContent);

  marker.bindPopup(popup).openPopup();

</script>
